name: golang-pipeline
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    container: golang:1.22
    steps:
      - uses: actions/checkout@v4
      - name: Run Unit Tests
        run: GOOS=linux GOARCH=amd64 go test
      - name: Vet
        run: |
          go vet ./...
  deploy:
    name: Push docker image to Docker hub
    runs-on: ubuntu-latest
    needs: test
    ##f: startsWith(github.ref, 'refs/tags')
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to Docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5.5.1
        with:
          images: chernish14/hello-golang
      - name: Build and push Docker Image
        id: push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: chernish14/hello-golang:latest #@${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
#git tag v1.0.2
#git push --tag
